<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tabla_ble.Properties.Settings.basedatos1ConnectionString"
            connectionString="Host=35.231.28.104;Database=basedatos1;Username=g;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>